<HTML>
    <head>
        <style>
    .center{
        text-align: center;
        justify-content: center;
        display: flex;
    
    }
    iframe{
        border: solid 5px white;
        padding: 10px;
    }
    h1{
        color: white;
        text-align: center;
    }
    h2{
        color: white;
        text-align: center;
    }
    a{
        font-size: 30px;
        text-align: center;
        color: white;
    }
    </style>